<div class="add-reservation">
    <form name="myForm" class="form-control">
        Your name:
        <input type="text" name="yourName" placeholder="ex: florian, adriana, georgiana" formControlName="yourName" (keyup)="onKeyupUsername($event)">
        <br>Reservation:
        <input type="text" name="name" placeholder="ex: Reservation1" formControlName="name" required minlength="4" (keyup)="onKeyupReservationName($event)">
        <br> Start date:
        <input type="date" (change)="startDateChange($event)" name="startDate"   formControlName="startDate" >
        <br> End date:
        <input type="date" (change)="endDateChange($event)" name="endDate"   formControlName="endDate">
        <br> Room:
        <input list="rooms" formControlName="room" (keyup)="onKeyupRoomName($event)">
        <datalist id="rooms">
          <div *ngFor="let room of roomsArray">
            <option value="{{room.name}}">
          </div>
        </datalist>
        <br>
      </form>
      <button (click)="showReservation()">Show reservation</button>
      <button (click)="addReservation()">Submit</button>
</div>
