<div class="content">
    <div class="navigation-bar">
        <div id="navigation-container">

            <ul>
                <li>
                    <a href="#management">Management</a>
                </li>
                <li>
                    <a href="#users">All users</a>
                </li>
                <li>
                    <a href="#booking">Booking rooms</a>
                </li>
                <li>
                    <a  href="#rooms">All rooms</a>
                </li>
                <li>
                    <h1 class="title">{{title}}</h1>
                </li>
            </ul>
        </div>
    </div>

    <div class="mainWrraper">

        <div id="rooms">
                <app-all-rooms></app-all-rooms>
        </div>
        <div id="booking">
               <p>booking page</p><br><br><br><br><br><br><br>
        </div>
        <div id="users">
                <p>users page</p><br><br><br><br><br><br><br><br><br>

        </div>
        <div id="management">
                <p>management page</p>
        </div>
    </div>

</div>