<div class="content">
    <div class="navigation-bar">
        <div id="navigation-container">

            <ul>
                <li>
                    <a href="/#/admin">Management</a>
                </li>
                <li>
                    <a href="/#/users">All users</a>
                </li>
                <li>
                    <a href="/#/booking">Booking rooms</a>
                </li>
                <li>
                    <a  href="/#/">All rooms</a>
                </li>
                <li>
                    <h1 class="title">{{title}}</h1>
                </li>
            </ul>
        </div>
    </div>

    <div class="mainWrraper">
        <router-outlet></router-outlet>
    </div>

</div>